run = "node index.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node index.js"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false
