run = "node replit-start.js"
entrypoint = "replit-start.js"

[env]
PORT = "3000"
NODE_ENV = "production"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node replit-start.js"]
publicDir = "/"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false
